.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 600px;
  padding: 0 0 100px 0;
}
.top-navbar {
  height: 88px;
}
.tmall-img{
  height: 40px;
}
